h2{
    font-weight: bold;
    color: #247A6B;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    width: 70%;
    text-align: center;
}
.purchase-information{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 35px;
  
    width: 90%;
}
h3{
    font-weight: bold;
    color: #293845;
    margin-bottom: 20px;
    font-size: 24px;
}

.purchase-information p{
    font-size: 22px;
    line-height: 1.35;

}
.button-seats{
    width: 225px;
    height: 42px;
    margin-top: 70px;
    margin-bottom: 140px;
    background: #E8833A;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
  }
