.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 99px;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color:  #DFE6ED;
    border-top: 1px solid #9EADBA;
    line-height:1.2; 

}
.bottom img{
    width: 48px;
    height: 72px;
    border: 5px solid #FFFFFF;

}
.bottom p{
    margin-left: 10px;
}