 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #FFFFFF;
    font-family: "Roboto";
    width: 100vw;
}
::-webkit-scrollbar {
    width: 0px; 
}
.hidden{
    display: none;
}
.page{
    margin-top: 67px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
