.description-seats{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #293845;
    font-size: 24px;
    margin-top: 67px;
    margin-bottom: 20px;

}
.seats{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
.seat{
    border: 1px solid;
    border-radius: 50%;
    margin: 5px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.available{
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
}
.unavailable{
    background-color:  #FBE192;
    border: 1px solid #FBE192;
}

.selected{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}
.subtitles{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-top: 10px; 

}
.subtitle div{
    width: 24px;
    height: 24px;
    border-radius: 50%;
   
    
}
.subtitle{
    height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
}
.personal-infos{
    width: 95%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;

}
.personal-infos input{
    border: 1px solid #D5D5D5;
    width: 98%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
::placeholder {
    color:  #AFAFAF;
    font-style: italic;
    font-size: 18px;
  }
.button-seats{
    width: 225px;
    height: 42px;
    margin-top: 70px;
    margin-bottom: 140px;
    background: #E8833A;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
  }